@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  background-image: url(skin.jpg);
  background-size: cover;
  overflow-y: hidden;
  cursor: grab;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  text-align: center;
  opacity: 0.5;
  padding: 500px 0;
}

p{
  position: absolute;
  font-size: 30px;
  opacity: 0.1;
  color:white;
  transition: 1s ease;

}

p:hover{
  opacity:1;
  transition: 1s ease;
  cursor: grabbing;

}

p:focus, p:active{
  cursor:grabbing;

}

.touched{
  opacity: 1;
  text-shadow: oldlace 10px 0 10px;

}
